/*  rus_hybrid_auth */

.rus-hybrid-auth-icon {
    margin-right: 3px
}

.unlink-provider i {
    margin-top: -5px;
    margin-left: -15px;

    font-size: 15px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
}

.link-unlink-provider img {
    opacity:0.25;
    filter:alpha(opacity=25);
}

/* rus_hybrid_auth */